__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.coverage
coverage.xml
.mypy_cache/
.env
.env.local
.poetry/
venv/
.venv/
build/
dist/
*.egg-info/
.DS_Store
Thumbs.db
.vscode/
.idea/
docker-compose.override.yml
.env.*.local
