services:
  app:
    build: .
    image: fastapi-shop
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - minio
    volumes:
      - ./:/app:cached

  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_DB: shop
      POSTGRES_USER: shop_user
      POSTGRES_PASSWORD: shop_pass
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  redis:
    image: redis:8.2
    command: ["redis-server", "--save", "60", "1"]
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:4.2.0-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data

  prometheus:
    image: prom/prometheus:v3.7.3
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - app

volumes:
  pgdata:
  redisdata:
  rabbitmqdata:
  miniodata: